/* 
animation-fill-mode:what values are applied by the animation outside the time it is executing
*/
div{
    width:200px;
    height:100px;
    color:white;
    margin:10px;
}
.animation{
    background:blue;
    animation:move 2s 2;
    animation-fill-mode: forwards;
    /* This will make sure that after the end of this animation the animation will stay at opacity 0.5 and with the translation of -40px*/
}

@keyframes move{
    0%{
        opacity:0;
        background:red
    }
    25%{
        transform:translateX(200px);
        opacity:0.25;
    }
    50%{
        transform:translateX(-100px);
        opacity:1;
    }
    100%{
        transform:translateX(-40px);
        opacity:0.5;
    }
}