*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
div{

    min-height:100vh;
    color:green;
    font-size:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.big{
    background:url("./big.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    /* background-attachment: fixed; */
}
.small{
    /* border:2px solid red; */
    background:url(./images/img.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
}
.folder{
    background:url("./big.jpeg");
    background-size:cover;
    background-position:center;
    /* background-attachment: fixed; */
}