/* 
line-height
letter-spacing
word-spacing
text-transform
text-decoration
*/
body{
    font-size: 20px;
}
.one{
    line-height: 3em;
    text-decoration:overline;
}
.two{
    letter-spacing: 5px;
    

}
.three{
    word-spacing: 20px;
    text-decoration:underline;
}
.h1h{
    text-transform: uppercase;
    text-decoration:line-through;
}
.h2h{
    text-transform: capitalize;
}
a{
    font-size: 40px;
    text-decoration: none;
}
