/* 
Descendant and Child Combinators
*/
div h1{
    color:red;
    /* Now here div is the ancestor and we are selecting all the h1 that come under the div */
}
div > h1{
    color:blue;
    /* here we are selecting all the h1 that  direct children of the div, only the child */
}
.header h1{
    color:green;
    /* This is the same as the first example but the point to note here is that this guy has a higher specificity */
}
.header > h1{
    color:purple;
    /* This is the same as the second example and again with higher specificity */
}